<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pokemonchallenge">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesafioOmniChat"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.pokemonchallenge.ui.activity.PokemonDetailActivity"
            android:parentActivityName="com.example.pokemonchallenge.ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.pokemonchallenge.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>